@import 'reset.css';

body {
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

#infoContainer.sticky {
    top: 8em;
}

.hidden {
    display: none;
}

hr {
    width: 20em;
}

h1.title {
    margin-top: 1.5em;
    font-size: xx-large;
}

h1#todayDate {
    margin: 1em 0;
    font-size: large;
}

#instructions {
    width: fit-content;
    border: 1px black solid;
    border-radius: 0.2em;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

#dateForm {
    margin-bottom: 1em;
}

#dateForm input[type=date] {
    width: 13em;
    height: 2em;
}

#dateForm input[type=submit] {
    margin-top: 0.3em;
    width: 100%;
}

#infoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    font-size: 1.2em;
    width: 20em;
}

#infoContainer div {
    margin: 0 1.8em;
}

.dayTextContainer {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 0.3em;
    border-bottom: 1.5px black solid;
}
